[alias]
  cb = "!f() { git remote prune origin && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -d; }; f"
  co = checkout
  cs = "!f() { \
            TASK_ID=$(cut -d'/' -f1 <<< $(git rev-parse --abbrev-ref HEAD)); \
            EDITOR=vim; \
            COMMIT_MESSAGE="[${TASK_ID}]"; \
            git commit -e -m "\"${COMMIT_MESSAGE}\""; \
        }; f"
  d = diff
  dc = diff --cached
  p = push
  patch = !git --no-pager diff --no-color
  pb = "!f() { git push -u origin $(git rev-parse --abbrev-ref HEAD); }; f"
  pf = push --force-with-lease
[color]
  ui = true
[color "diff"]
  commit = yellow bold
  frag = magenta bold
  func = 146 bold
  meta = 11
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-highlight"]
  newHighlight = green bold 22
  newNormal = green bold
  oldHighlight = red bold 52
  oldNormal = red bold
[core]
  pager = diff-so-fancy | less -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[pull]
  rebase = true
[user]
  email = calvin@gerling.sh
  name = Calvin Gerling
  signingkey = 0DAEF8AA768557C2

